= simple_form_for [:admin, @survey, @question_group, @question] do |f|
  = f.input :question_text
  = f.input :code, hint: t('shared.code_hint')
  = f.input :_type, collection: Helena::Question::TYPES.map { |type| [type.model_name.human, type] }
  - if @question.respond_to? :required
    = f.input :required, as: :boolean
  - if @question.is_a?(Helena::Questions::LongText) || @question.is_a?(Helena::Questions::StaticText)
    = f.input :default_value
  - if @question.is_a?(Helena::Questions::ShortText)
    = f.input :default_value, as: :string
  - if @question.includes_labels?
    = render 'labels', form: f
  - if @question.includes_subquestions?
    = render 'sub_questions', form: f

  %br
  = f.submit t('shared.save'), class: 'btn btn-success'
