- url = @question.new_record? ? admin_survey_question_group_questions_path(@survey, @question_group) : admin_survey_question_group_question_path(@survey, @question_group, @question)
= simple_form_for @question, as: 'question', url: url do |f|
  = f.input :question_text
  = f.input :code
  / needs a translation
  = f.input :type, collection: Helena::Question::TYPES.map { |type| [question_type_translation_for(type), type]}
  - if @question.respond_to? :required
    = f.input :required, as: :boolean, wrapper: :checkbox
  - if @question.is_a?(Helena::Questions::ShortText) || @question.is_a?(Helena::Questions::StaticText)
    = f.input :default_value
  %br
  = f.submit t('shared.save'), class: 'btn btn-success'
