= simple_form_for [:admin, @survey, @question_group, @question] do |f|
  = f.input :question_text
  = f.input :code
  / needs a translation
  = f.input :type, collection: Helena::Question::TYPES.map { |type| [question_type_translation_for(type), type]}
  - if @question.respond_to? :required
    = f.input :required, as: :boolean, wrapper: :checkbox
  - if @question.is_a?(Helena::Questions::LongText) || @question.is_a?(Helena::Questions::StaticText)
    = f.input :default_value
  - if @question.is_a?(Helena::Questions::ShortText)
    = f.input :default_value, as: :string
  - if @question.is_a?(Helena::Questions::RadioGroup)
    = render 'labels', form: f
  - if @question.is_a?(Helena::Questions::CheckboxGroup)
    = render 'sub_questions', form: f

  %br
  = f.submit t('shared.save'), class: 'btn btn-success'
