%h3= t '.labels'
.table-responsive
  %table.table.labels
    %thead
      %tr
        %th.position= Helena::Label.human_attribute_name :position
        %th.preselected
        %th.text= Helena::Label.human_attribute_name :text
        %th.value= Helena::Label.human_attribute_name :value
        %th.delete
    %tbody
      = form.simple_fields_for :labels  do |label|
        %tr[label.object]
          %td.position
            = label.input :position, as: :integer, label: false
          %td.preselected
            = label.input :preselected, as: :boolean, label: Helena::Label.human_attribute_name(:preselected)
          %td.text
            = label.input :text, label: false
          %td.value
            = label.input :value, label: false
          %td.delete
            - unless label.object.new_record?
              = label.input :_destroy, as: :boolean, label: Helena::Label.human_attribute_name(:_destroy)
