%h3= t '.options'
.table-responsive
  %table.table.sub_questions
    %thead
      %tr
        %th.position= Helena::SubQuestion.human_attribute_name :position
        %th.position= Helena::SubQuestion.human_attribute_name :code
        - if @question.is_a?(Helena::Questions::CheckboxGroup)
          %th.preselected
        %th.text= Helena::SubQuestion.human_attribute_name :text
        - if @question.is_a?(Helena::Questions::CheckboxGroup)
          %th.value= Helena::SubQuestion.human_attribute_name :value
        %th.delete
    %tbody
      = form.simple_fields_for :sub_questions  do |sub_question|
        %tr[sub_question.object]
          %td.position
            = sub_question.input :position, as: :integer, label: false
          %td.code
            = sub_question.input :code, label: false, hint: t('shared.code_hint')
          - if @question.is_a?(Helena::Questions::CheckboxGroup)
            %td.preselected
              = sub_question.input :preselected, as: :boolean
          %td.text
            = sub_question.input :text, label: false
          - if @question.is_a?(Helena::Questions::CheckboxGroup)
            %td.value
              = sub_question.input :value, label: false, as: :hidden, value: 1
          %td.delete
            - unless sub_question.object.new_record?
              = sub_question.input :_destroy, as: :boolean,
                                              label:   Helena::SubQuestion.human_attribute_name(:_destroy)
