.helena-admin
  %h2
    = Helena::Question.model_name.human(count: 2)
    = "(#{@questions.count})"
  - if @questions.empty?
    .alert.alert-warning
      = t '.empty'
  - else
    .table-responsive
      %table.table.questions
        %thead
          %tr
            %th.position= Helena::Question.human_attribute_name(:position)
            %th= Helena::Question.human_attribute_name(:code)
            %th= Helena::Question.human_attribute_name(:type)
            %th= Helena::Question.human_attribute_name(:question_text)
            %th
        %tbody
          - @questions.each_with_index do |question, index|
            %tr[question]
              %td.position{ data: { title: Helena::Question.human_attribute_name(:position) } }
                = question.position
              %td.code{ data: { title: Helena::Question.human_attribute_name(:code) } }
                = question.code
              %td.type{ data: { title: Helena::Question.human_attribute_name(:type) } }
                = question.class.model_name.human
                - if question.try :required
                  %span.glyphicon.glyphicon-flag{ title: Helena::Question.human_attribute_name(:require) }
              %td.question_text{ data: { title: Helena::Question.human_attribute_name(:question_text) } }
                = question.question_text
              %td
                .btn-group.btn-group-sm
                  - unless question.last?
                    = link_to move_down_admin_survey_question_group_question_path(@survey, @question_group, question), class: 'btn btn-primary',
                                                                                                   method: :patch,
                                                                                                   title: t('shared.move_down')  do
                      %i.glyphicon.glyphicon-chevron-down
                  - unless question.first?
                    = link_to move_up_admin_survey_question_group_question_path(@survey, @question_group, question), class: 'btn btn-primary',
                                                                                                 method: :patch,
                                                                                                 title: t('shared.move_up')  do
                      %i.glyphicon.glyphicon-chevron-up

                  = link_to t('shared.edit'), [:edit, :admin, @survey, @question_group, question], class: 'btn btn-primary'

                  = link_to t('shared.delete'), admin_survey_question_group_question_path(@survey, @question_group, question), method: :delete, class: 'btn btn-danger', data: { confirm: t('shared.delete_question') }

  %a.btn.btn-success{ href:  new_admin_survey_question_group_question_path(@survey, @question_group) }
    = t '.add'
