%h2
  = Helena::Question.model_name.human(count: 2)
  = "(#{@questions.count})"
- if @questions.empty?
  .alert.alert-warning
    = t '.empty'
- else
  %table.table.questions
    %thead
      %tr
        %th.position= Helena::Question.human_attribute_name(:position)
        %th= t '.type'
        %th= Helena::Question.human_attribute_name(:question_text)
        %th
    %tbody
      - @questions.each_with_index do |question, index|
        %tr[question]
          %td.position
            = question.position
          %td.type= question.class.model_name.human
          %td.question_text= question.question_text
          %td
