%h2
  = Helena::Survey.model_name.human(count: 2)
  = "(#{@surveys.count})"
- if @surveys.empty?
  .alert.alert-warning
    = t('.empty')
- else
  - @surveys.each do |survey|
    %div[survey]
      %h3= survey.name
      - if survey.description.present?
        %p= survey.description
      .btn-group
        - if survey.position < Helena::Survey.maximum_position
          = link_to move_down_admin_survey_path(survey), class: 'btn btn-primary', method: :patch, title: t('.move_down')  do
            %i.glyphicon.glyphicon-chevron-down
        - if survey.position  > 1
          = link_to move_up_admin_survey_path(survey), class: 'btn btn-primary', method: :patch, title: t('.move_up')   do
            %i.glyphicon.glyphicon-chevron-up

        = link_to t('.edit'), edit_admin_survey_path(survey), class: 'btn btn-primary'
        = link_to Helena::QuestionGroup.model_name.human(count: 2), admin_survey_question_groups_path(survey), class: 'btn btn-primary'
        = link_to t('.delete'), admin_survey_path(survey), method: :delete, class: 'btn btn-danger', data: { confirm: t('shared.delete_question')}

%br
%a.btn.btn-success{ href:  new_admin_survey_path}
  = t '.add'
