!!!
%html
  %head
    %title= strip_tags(render_breadcrumbs separator: '/')
    = stylesheet_link_tag    'helena/application', media: 'all'
    = javascript_include_tag 'helena/application'
    %meta{ name: 'viewport', content: 'initial-scale=1.0' }
    = csrf_meta_tags

  %body
    .container
      - flash.each do |name, messages|
        %div{class: "alert alert-#{name == 'notice' ? 'success' : 'danger'}"}
          - if messages.is_a?(String)
            = messages
          - else
            %ul
            - messages.each do |message|
              %li= message
      %h1.hidden
        Helena
      %ol.breadcrumb
        = render_breadcrumbs tag: :li, separator: ''
      = yield
