%h2
  = Helena::QuestionGroup.model_name.human(count: 2)
  = "(#{@question_groups.count})"
- if @question_groups.empty?
  .alert.alert-warning
    = t '.empty'
- else
  %table.table.question_groups
    %thead
      %tr
        %th.group_order= Helena::QuestionGroup.human_attribute_name(:group_order)
        %th= Helena::QuestionGroup.human_attribute_name(:title)
        %th
    %tbody
      - @question_groups.each_with_index do |question_group, index|
        %tr[question_group]
          %td.group_order
            = question_group.group_order
          %td.title= question_group.title
          %td
            .btn-group.btn-group-sm
              = link_to t('.edit'), edit_admin_survey_question_group_path(@survey, question_group), class: 'btn btn-primary'
              = link_to t('.delete'), admin_survey_question_group_path(@survey, question_group), method: :delete, class: 'btn btn-danger', data: { confirm: t('shared.delete_question') }

%br
%a.btn.btn-success{ href:  new_admin_survey_question_group_path}
  = t '.add'
