!!!
%html
  %head
    %title Helena
    = stylesheet_link_tag    'helena/application', media: 'all'
    = javascript_include_tag 'helena/application'
    = csrf_meta_tags

  %body

    - flash.each do |name, msg|
      %div{class: "alert alert-#{name == :notice ? "success" : "error"}"}
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

    .container
      %h1.hidden
        Helena

      = yield
